[submodule "houston-proto"]
	path = src/main/proto-public
	url = https://github.com/Boozilla/houston-proto.git

[submodule "gradle-plugin"]
	path = gradle-plugin
	url = git@github.com:boozilla/houston-gradle.git
