project:
  name: ${project.name}
  version: ${project.version}

logging:
  level:
    root: info
    com.google.protobuf.util.JsonFormat: ERROR

armeria:
  ports:
    - port: 8080
      protocols: HTTP
  cors:
    origins:
      - "*"
  grpc:
    use-blocking-task-executor: false
    enable-unframed-requests: true
    enable-reflection: true
    auto-compression: true
  mcp:
    enabled: false
    path: /mcp
    name: houston-mcp
    version: 1.0.0
  encoding:
    enabled: true
    algorithms:
      - gzip
      - deflate
  graceful-shutdown-quiet-period-millis: 3000
  graceful-shutdown-timeout-millis: 10000

management:
  endpoints:
    web:
      exposure:
        exclude: "*"
    access:
      default: none

admin:
  token:
    allowlist:
      tokens: [ ]
      sources:
        secrets-manager:
          enabled: false
        s3:
          enabled: false
        spring-config:
          enabled: true
