name: Docker publish

on:
  workflow_call:
    inputs:
      architecture:
        required: true
        type: string
    secrets:
      SSH_PRIVATE_KEY:
        required: true
      SSH_KNOWN_HOSTS:
        required: true
      TO_IMAGE:
        required: true
      DOCKER_HUB_USERNAME:
        required: true
      DOCKER_HUB_PASSWORD:
        required: true

env:
  TO_IMAGE: ${{ secrets.TO_IMAGE }}
  DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
  DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh-known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          submodules: true

      - name: Set up JDK 20
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 20

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Publish
        run: ./gradlew jib -Parchitecture=${{ inputs.architecture }} -Djib.to.image=${{ env.TO_IMAGE }} -Djib.to.auth.username=${{ env.DOCKER_HUB_USERNAME }} -Djib.to.auth.password=${{ env.DOCKER_HUB_PASSWORD }}
