name: Docker publish all

on:
  workflow_dispatch:
  release:
    types: [ published ]

jobs:
  publish-arm64:
    uses: ./.github/workflows/docker-publish-workflow.yml
    with:
      architecture: arm64
    secrets: inherit

  publish-amd64:
    uses: ./.github/workflows/docker-publish-workflow.yml
    with:
      architecture: arm64
    secrets: inherit

  publish-x86_64:
    uses: ./.github/workflows/docker-publish-workflow.yml
    with:
      architecture: x86_64
    secrets: inherit