name: Gradle 플러그인 배포

on:
  workflow_dispatch:
  release:
    types: [ published ]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: 소스 체크아웃
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          submodules: true

      - name: JDK 24 설정
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 24

      - name: Gradle 설정
        uses: gradle/actions/setup-gradle@v3

      - name: 플러그인 배포
        run: ./gradlew publishPlugins -Dgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }} -Dgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}
