name: Image publish

on:
  workflow_dispatch:
  release:
    types: [ published ]

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          submodules: true

      - name: Set up JDK 24
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 24

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Publish
        run: ./gradlew jib -Parchitecture=${{ inputs.architecture }} -Djib.to.image=ghcr.io/${{ github.repository }} -Djib.to.auth.username=${{ github.actor }} -Djib.to.auth.password=${{ secrets.GITHUB_TOKEN }}
