name: Maven 배포

on:
  workflow_dispatch:
  release:
    types: [ published ]

env:
  OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
  OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
  SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
  SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: 소스 체크아웃
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh-known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          submodules: true

      - name: JDK 24 설정
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 24

      - name: Gradle 설정
        uses: gradle/actions/setup-gradle@v3

      - name: 전체 모듈 배포
        run: ./gradlew :api:publishToSonatype :container:publishToSonatype closeAndReleaseSonatypeStagingRepository
