name: Maven publish

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

env:
  OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
  OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
  SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
  SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh-known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          submodules: true

      - name: Set up JDK 20
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 20

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Publish all
        run: ./gradlew publishAllPublicationsToSonatypeRepository
